.parallax-background{
	background-image: url(../../assets/woodtexture.jpg);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 0;
}
.section-box--details{
	background-color: rgba(0,0,0,.8);
	position: relative;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	.section-box__wrapper{
		flex-direction: row;
		@include media($medium) {
			flex-direction: column;
		}
	}
}
.map-module{
	flex: 1;
	display: flex;
	border: 10px solid $black;
	@include media($medium) {
		min-height: 100vh;
	}
}
.details-info{
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-flow: column;
	text-align: center;
	margin-right: 40px;
	@include media($medium) {
		margin-right: 0;
	}

}
.details-info__logo{
	display: inline-block;
	margin: 0 auto 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid white;
}
.logo{
	max-width: 300px;
	width: 100%;
	height: auto;
	@include media($medium) {
		max-width: 100px;
	}
}

.details-info__about{
	display: block;
	text-align: center;
	margin: 0 auto;
}
